<footer class="footer text-center fixed-bottom bg-dark text-white">
  <p class="m-0">
      See my portfolio
      <a href="https://yilmazme.netlify.app/home"
                target="_blank">page</a>
</p>
</footer>
