<footer class="footer text-center fixed-bottom bg-dark text-white">
  <p class="m-0">
      See my portfolio
      <a href="https://myilmaz.netlify.app/"
                target="_blank">page</a>
</p>
</footer>
