body {
  background-color: rgb(212, 187, 148);
  padding-top: 2.2rem;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(253, 253, 253);
  height: 100vh ;
}
form {
  padding-top: 2rem;
  width: 30vw;
  height: fit-content;

}
.imgDiv {
  text-align: center;
  width: 40vw;
  height: 80vh !important;
}
img{
  border-radius: 2%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    width: fit-content;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  form {
    width: 90vw;
    height: fit-content;
    margin: auto;
  }
  img {
    width: 90vw !important;
    margin: auto;
  }
  .navbar {
    display: block;
    text-align: center;
  }
}

img {
  width: 60%;
  height: auto;
}
