body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.one {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url(./animals/newcat.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}
.intro {
  padding: 2rem;
  color: white;
  height: 100%;
  width: 30vw;
  position: absolute;
  top: -80vh;
  right: 0px;
  animation: introA 700ms ease-out 1s forwards;
}

@keyframes introA {
  from {
    right: -30vw;
  }
  to {
    right: 0vw;
  }
}
.two {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
  z-index: 2;
  opacity: 1;
}
.noReveal {
  display: block;
  position: fixed;
  top: -4rem;
  z-index: 4;
  width: 100vw;
  height: 4rem;
  animation: noreveal 200ms ease-out 0s forwards;
}
.reveal {
  display: block;
  position: fixed;
  top: 0px;
  z-index: 4;
  width: 100vw;
  height: 4rem;
  animation: reveal 200ms ease-out 0s forwards;
}
@keyframes reveal {
  from {
    top: -4rem;
  }
  to {
    top: 0rem;
  }
}
@keyframes noreveal {
  from {
    top: 0rem;
  }
  to {
    top: -4rem;
  }
}
.many {
  background-image: url(./animals/catanddog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  z-index: inherit;
}
.resource {
  width: 50vw;
  height: 100vh;
  z-index: inherit;
}
.bilgi {
  margin-top: 3rem;
  padding: 2rem;
}
.links {
  padding: 2rem;
}
a:link {
  text-decoration: none;
  font-size: 12px;
}
.contact {
  position: relative;
  top: 3rem;
  text-align: center;
  color: black;
}
#fade {
  opacity: 1;
  animation: fadeIn 200ms ease-out 0s forwards;
}
#noFade {
  opacity: 0;
  animation: fadeOut 200ms ease-out 0s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .resource {
    margin: auto;
    width: 100vw;
    height: fit-content;
  }
  .many {
    margin: auto;
    width: 100vw;
    height: 40vh;
  }

  .bilgi {
    margin-top: 1rem;
    padding: 2rem;
  }
  .links {
    margin-bottom: 5rem;
    padding: 2rem;
  }
  .intro {
    padding: 2rem;
    color: white;
    height: 100%;
    width: 60vw;
    position: absolute;
    top: -80vh;
    right: 0px;
    z-index: 2;
    animation: introA 300ms ease-out 1s forwards;
  }
  img {
    height: auto;
    width: 80vw;
  }
}
